
<div class="login">
	<img src="/assets/back.png" class="back">
	<img src="/assets/login.png" class="loginpic">
    <h1 style="text-align: center;color:#444444;">Prijava </h1>
            <form name="prijava">

		<img src="/assets/profile_pic.png" class="profile_pic">
        <input type="text" name="u" placeholder="Username" required="required" [(ngModel)]='username'>
          <input type="password" name="p" placeholder="Password" required="required" [(ngModel)]='password'>
          <button type="submit" class="ulogujse" (click)='login()'>Uloguj se   </button>
          <a style="font-size:0.8em; margin-left: 10px;" (click)='preusmeri("../register")'>Kreiraj novi nalog</a>
    </form>
</div>
