<div>
    <div>
        <div class="zaposleni_osoba border_dashed">
            <div>
            <div class="zaposleni_info">
                <div class="zaposleni_ime">
                    Ime poslodavca <button style="float:right;" class="add_btn">Preuzmi</button>
                </div>
                <div class="zaposleni_zvanje">Opis taska
                </div>
                <div class="zaposleni_predmeti">Loakcija</div> 
            </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>