<!--<div>
    <div>
        <div class="zaposleni_osoba border_dashed"  *ngFor = 'let task of taskovi'>
            <div>
            <div class="zaposleni_info">
                <div class="zaposleni_ime">
                    {{task.request_user_id.name}} {{task.request_user_id.last_name}}
                     <button style="float:right;" class="add_btn" (click)="preuzmi(task.request_user_id.jmbg)">Preuzmi</button>
                </div>
                <div class="zaposleni_zvanje">{{task.task_string}}
                </div>
                <div class="zaposleni_predmeti">{{task.longitude}} {{task.latitude}}</div> 
            </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>-->

<div class="task" *ngFor = 'let task of taskovi' >
    <div class="taskDesc">
        <div class="taskName">Naziv Taska</div>
        {{task.task_string}}
        <br>
        <div class="location">{{task.request_user_id.name}} {{task.request_user_id.last_name}} - {{task.longitude}} {{task.latitude}}</div>
        <div class="datum">datum</div>
    </div>
    <div class="taskCheck">
        <img src="assets/add.png" class="checkIcon">
    </div>
</div>