<div class="task" *ngFor = 'let task of taskovi'>
    <div class="taskDesc">
        <!--<div class="taskName">Naziv taska</div>-->
        <div class="taskName">
        {{task.task_string}}
        </div>
        <br>
        <div class="location">{{task.request_user_id.name}} {{task.request_user_id.last_name}}</div>
        <div class="datum">Broj telefona: {{task.request_user_id.phone_number}}</div>
    </div>
    <div class="taskCheck">
        <img src="assets/delete.png" class="checkIcon" (click)='delete(user.jmbg, task)'>
    </div>
</div>
