

<body class="menubody" style="text-align:center;">
	
	<div class="sect" style="margin-top:70px;">
		<img src="assets/help.png" class="help">
		<br>
		<a class="vol_btn" (click)='preusmerivol()'><span></span>Volontiraj</a>
	</div>
	<div class="sect">
		<img src="assets/get.png" class="help">
		<br>
		<a class="vol_btn" (click)='preusmerizahtev()'><span></span>Zahtevaj volontiranje</a>
	</div>
	
	<div class="header">
		<span class="gradient"></span>
		<span class="linksHolder" id="linksHolder">
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Volontiranje</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>O nama</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Pomoć</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Kontakt</a></span>
		</span>
		<div class="burger" (click)='menuc()' id="burger">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
	</div>
</body>