

<body class="menubody" style="text-align:center;">
	
	<div class="sect" style="margin-top:70px;" (click)='preusmerivol()'>
		<img src="assets/help.png" class="help">
		<br>
		<a class="vol_btn" ><span></span>Volontiraj</a>
	</div>
	<div class="sect" (click)='preusmerizahtev()'>
		<img src="assets/get.png" class="help">
		<br>
		<a class="vol_btn" ><span></span>Zahtevaj volontiranje</a>
	</div>
	
	<div class="header">
		<span class="gradient"></span>
		<span class="linksHolder" id="linksHolder">
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Volontiranje</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>O nama</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Pomoć</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut()' ><span></span>Kontakt</a></span>
		<span *ngIf='isLogged' class="newline"><a class="headerLinks" (click)='menut();preusmeri("../o-korisniku")' ><span></span>Lični podaci</a></span>
		<span class="newline"><a class="headerLinks" (click)='menut(); logout()' ><span></span>Izloguj se</a></span>

		</span>
		<div class="burger" (click)='menuc()' id="burger">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
	</div>
</body>
