
	<!--
		id.classList.add("selected");
		id.classList.remove("selected");
	-->
	<!--<div class="task">
		<div class="taskDesc">
			<div class="taskName">Naziv taska</div>
			opis taska
			<br>
			<div class="location">ime i prezime - lokacija</div>
			<div class="datum">datum</div>
		</div>
		<div class="taskCheck">
			<img src="assets/add.png" class="checkIcon">
		</div>
	</div>
	
	<div class="task">
		<div class="taskDesc">
			<div class="taskName">Naziv taska</div>
			opis taska
			<br>
			<div class="location">ime i prezime - lokacija</div>
			<div class="datum">datum</div>
		</div>
		<div class="taskCheck">
			<img src="assets/delete.png" class="checkIcon">
			<img src="assets/check.png" class="checkIcon">
		</div>
	</div>-->

    <div class="task" *ngFor = 'let task of mojiTaskovi'>
		<div class="taskDesc">
			<div class="taskName">Naziv taska</div>
			{{task.task_string}}
			<br>
            <div class="location">{{task.request_user_id.name}} {{task.request_user_id.last_name}} - {{task.longitude}} {{task.latitude}}</div>
            <div class="datum">datum</div>
		</div>
		<div class="taskCheck">
			<img src="assets/delete.png" class="checkIcon">
		</div>
	</div>
 