<div class="right_side">
    <div class="info">
        <div class="login">
            <form name="reg_zap" class="reg_zap" >
                <table>
                    <tr>
                        <td colspan="2"><h1>Registracija</h1></td>
                    </tr>
                    <tr>
                        <td>
                            Username:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" required="true" name="username" [(ngModel)]="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="password" required="true" name="password" [(ngModel)]="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name:
                            
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" required="true" name="name" [(ngModel)]="name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Surname:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" required="true" name="surname" [(ngModel)]="surname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JMBG:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" required="true" name="JMBG" [(ngModel)]="JMBG">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Broj licne karte:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" required="true" name="brlicnekarte" [(ngModel)]="brlicnekarte">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Number:
                        </td>
                        <td>
                            <input class = "oble_ivice_register" type="text" name="number" [(ngModel)]="number">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="submit_btn" (click)="register()">Registruj se</button>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
   
  </div>