
<div>
    <div class="login">
<img src="/assets/back.png" class="back">
<h1 style="text-align: center;color:#444444;">Postavi zahtev </h1>
        <form name="reg_zap" class="reg_zap" >
        
    <img src="/assets/login.png" class="loginpic">
                <input type="text" name="u" placeholder="Opis taska" required="required"  [(ngModel)]="task_string"/>
                <input type="text" name="u" placeholder="Longituda" required="required"  [(ngModel)]="longitude"/>
                <input type="text" name="u" placeholder="Latituda" required="required"  [(ngModel)]="latitude"/>
                
                <button class="ulogujse" (click)='napraviTask()'>Postavi zahtev</button>
                <span *ngIf = 'prikazi' style="color:green">Uspesno dodat task</span>
        </form>
    </div>   
</div>
